.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    height: 300px;
}
.expense-form{
    background-color: rgb(191, 217, 218);
    padding: 20px;
    height: 100%;
    width: 95%;
    max-width: 25rem;
    border-radius: 7px;
}
.select{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}
.select p{
    font-size: larger;
}
.select select{
    border-radius: 4px;
    padding: 8px;
}
.expense-form h3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.6rem;
    font-size: 23px;
}
.description{
    display: flex;
    flex-direction: column;
    margin-top: 0.8rem;
}
.description label{
    text-align: center;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.description input{
    padding: 7px;
    border-radius: 5px;
}
.amount{
    display: flex;
    flex-direction: column;
    margin-top: 0.8rem;
}
.amount label{
    text-align: center;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.amount input{
    padding: 7px;
    border-radius: 5px;
}
.button{
    display: flex;
    justify-content: center;
    
}
.button button{
    background-color: rgb(73, 73, 205);
    color: white;
    margin-top: 1rem;
    padding: 12px;
    cursor: pointer;
    border-radius: 6px;
}

